inwork/
lesson4/images/
.venv
datasets/
lesson5/qwen-lora-enhanced
lesson5/train_prompts.jsonl

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
.env
.env.*
*.log
logs/
log/
.vscode/
.DS_Store
Thumbs.db
data/
data/**
!/data/.gitkeep
app/static/images/
data/images/
models_store/
app/models_store/
worker/models_store/
.cache/
**/.cache/
torch_cache/
hf_cache/
ollama/
.ollama/
data/ollama/
MVP/app/alembic/versions/*
product_presentation.pptx